.container {
  display: grid;
  grid-template: 22vh 1fr 1fr 1fr / 20vw 1fr 1fr 20vw;
  height: 100vh;
  overflow: hidden;
}

div {
  border: 1px solid black;
}

.profile {
  grid-row-start: 1;
  grid-row-end: 5;
  background-color: rgb(44, 156, 221);
  color: white;
}
.navbar {
  grid-column-start: 2;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.search-bar {
  display: flex;
  flex-grow: 5;
}
.notification-portion {
  display: flex;
  flex-grow: 2; 
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.hero {
  grid-area: 2 / 2/ 5 / 4;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  height: 100%;
}
.newsteller {
  grid-area: 2 / 4 / 5 / 5;
}
.search {
  display: flex;
  flex-direction: row;
}
.account-info {
  display: flex;
  flex-direction: row;
}
ul {
  padding: 10px;
}
li {
  list-style-type: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 5px;
  min-width: 3rem;
  width: 70%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

}
li:hover {
  font-size: 1.5rem;
  border-bottom: 1 px solid rgb(216, 212, 212);
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 5%;
  padding: 5%;
  font-size: 20px;
  font-weight: 500;
}
.logo > img, .logo > p {
  cursor: pointer;
}
.profile-options {
  padding: 5px;
}
.security {
  padding: 5px;
}
.search-bar > input {
  height: 30px;
  width: 65%;
  border: none;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
}
.search-bar > button {
  height: min-content;
  border: none;background-color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-bar {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  gap: 10px;
}
.notification-portion > :nth-child(2) {
  border-radius: 50%;
  cursor: pointer;
}
.notification-portion > img, .notification-portion > h3 {
  cursor: pointer;
}
.account-info {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
}
.account-info > img {
  border-radius: 50%;
}
.account-info > .btns {
  display: flex;
  gap: 30px;
  padding-right: 5%;
}
.btns button {
  color: white;
  background-color: rgb(85, 152, 240);
  border: none;
  border-radius: 10px;
  width: 5vw;
  height: 30px;
}